{% extends 'shop/base.html' %}
<meta charset="utf-8">
{% block title%} Checkout - My Awesome Cart{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h3>Step 1 - Checkout - Review Your Cart Items</h3>
        <div class="my-4">
            <ul class="list-group" id="items">
            </ul>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item active" aria-current="page">Your Cart Total Is 
                    <b>$<span id="totalPrice"></b> </span>
                    Enter your details below to place your order.</li>
                </ol>
            </nav>
        </div>
    </div>
    <br>
 <form class="section">
    <div class="container">
      <a href="" class="btn btn-sm btn-primary pl-2 pr-2" id="final__" onclick="pay()">Proceed to Payment!</a>
    </div>
  </form>
    <br>
</div>
    <script>
    setTimeout(()=>{
        let amount = Number($("#totalPrice").html())
        {#window.location.href = `${window.location.origin}/payments/${amount}`#}
        $("#final__").attr("href",`${window.location.origin}/payments/${amount}`)
    },500)


    </script>
{% endblock %}
{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    console.log(cart);
    var sum = 0;
    var totalPrice = 0;
    if ($.isEmptyObject(cart)) {
        //if object is empty
        mystr = `<p>Your cart is empty, please add some items to your cart before checking out!</p>`
        $('#items').append(mystr);
    } else {
        for (item in cart) {
            let name = cart[item][1];
            let qty = cart[item][0];
            let itemPrice = cart[item][2];
            sum = sum + qty;
            totalPrice = totalPrice + qty * itemPrice
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
            $('#items').append(mystr);

        }
        document.getElementById('totalPrice').innerHTML = totalPrice;

    }

    document.getElementById('cart').innerHTML = sum;
    $('#itemsJson').val(JSON.stringify(cart));
    {% if thank %}
    alert('Thanks for ordering with us. Your order is is {{id}}. Use it to track your order using our order tracker');
    localStorage.clear();
    document.location = "/shop";
    {% endif %}

    $('#amount').val($('#totalPrice').html())


</script>
{% endblock %}